@model JobBoard.ViewModels.AddJobViewModel


<h1>Add a Job </h1>

<p>Translate this page:</p>

<div id="google_translate_element"></div>

@* @section Scripts {
    <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

} *@

<form asp-controller="Job" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label asp-for="JobTitle" >Name</label>
        <input asp-for="JobTitle" class="form-control" />
        <span></span>
    </div>

<p>Employer Name: @Model.EmployerName </p>

    <div class="form-group">
        <label asp-for="JobLocation">Location</label>
        <input asp-for="JobLocation" />
    </div>

        <div class="form-group">
        <label asp-for="JobDescription" >Description</label>
        <input asp-for="JobDescription" class="form-control" />
        <span></span>
    </div>

    <div class="form-group">
        <label asp-for="PayRate" >Pay rate</label>
        <input asp-for="PayRate" class="form-control" />
    </div>
    
        <div class="form-group">
        <label asp-for="RequiredSkills" >Required Skills</label>
        <input asp-for="RequiredSkills" class="form-control" />
    </div>

        <div class="form-group">
        <label asp-for="PreferredSkills" >Preferred Skills</label>
        <input asp-for="PreferredSkills" class="form-control" />
    </div>


    <input type="submit" value="Add Job" />
</form>