@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Job Board!</h1>
    <img src="https://sheet2site.com/how-to-create-job-board/header.jpg" alt="Job Board Image"/>
    <p><a asp-controller="Search" asp-action="Index">Search Jobs</a></p>
    <p><a asp-controller="Home" asp-action="AddJob">Add Job</a></p>
</div>