@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Job Board!</h1>
    <p><a asp-controller="Search" asp-action="Index">Search Jobs</a></p>
</div>